@import "~react-image-gallery/styles/css/image-gallery.css";
/* 
_mobile: -599px
_bigger-screen: 600px-
 */

.App {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0px auto;
  background-color: #f5f5f5;
}

iframe {
  pointer-events: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #242424;
}
*{
  font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
  line-height: 1.2;
  font-size: 0.875rem;
}